extends ./layout.jade

block content
  ul
    - for (var i = 0; i < rooms.length; i++)
      li
        a(href='/rooms/' + rooms[i]._id)
          | #{rooms[i].name} (#{rooms[i].msgs.length})

  form.col-sm-8(action="/rooms", method="post")
    div.form-group
      label(for="roomName") Room Name:
      div.input-group
        input.form-control#roomName(type="text", name="roomName")
        span.input-group-btn
          input.btn.btn-primary(type="submit", value="Create")
