<!DOCTYPE html>
<html>
  <head>
    <title>My Web Apps</title>
  </head>
  <body>
    <div>
      <% if (msg) { %>
        <div><%= msg %></div>
      <% } %>
    </div>

    <form action="/" method="post">
      <input type="text" name="message">
      <input type="submit" name="dir" value="Send">
    </form>
  </body>
</html>
