<!DOCTYPE html>
<html>
  <head>
    <title>My Web Apps</title>
  </head>
  <body>
    <form action="/maze" method="post">
      <input type="hidden" name="from" value="1">
      <input type="submit" name="dir" value="迷路ゲーム">
    </form>
  </body>
</html>
