<!DOCTYPE html>
<html>
  <head>
    <title>My Web Apps</title>
  </head>
  <body>
    <div>
      <% for (var i = 0; i < msgs.length; i++) { %>
        <div><%= msgs[i].text %></div>
      <% } %>
    </div>

    <form action="/" method="post">
      <input type="text" name="message">
      <input type="submit" name="dir" value="Send">
    </form>
  </body>
</html>
