<!DOCTYPE html>
<html>

<head>
  <title>My Chat Apps</title>
</head>

<body>
  <div>
    ようこそ <span><%= name %></span> さん！
    <form action="/name" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="<%= name %>">
      <input type="submit" name="dir" value="Change">
    </form>
  </div>

  <ul>
    <% for (var i = 0; i < rooms.length; i++) { %>
      <li>
        <a href="/rooms/<%= rooms[i]._id %>">
          <%= rooms[i].name %>
        </a>
      </li>
    <% } %>
  </ul>

  <form action="/rooms" method="post">
    <label for="roomName">Room Name:</label>
    <input type="text" id="roomName" name="roomName">
    <input type="submit" name="dir" value="Creat">
  </form>
</body>

</html>
