<!DOCTYPE html>
<html>

<head>
  <title>My Chat Apps</title>
</head>

<body>
  <div>
    ようこそ <span><%= name %></span> さん！
  </div>

  <ul>
    <% for (var i = 0; i < rooms.length; i++) { %>
      <li>
        <a href="/rooms/<%= rooms[i]._id %>">
          <%= rooms[i].name %> (<%= rooms[i].msgs.length %>)
        </a>
      </li>
    <% } %>
  </ul>

  <form action="/rooms" method="post">
    <label for="roomName">Room Name:</label>
    <input type="text" id="roomName" name="roomName">
    <input type="submit" name="dir" value="Creat">
  </form>

  <form action="/logout" method="post">
    <input type="submit" name="dir" value="Logout">
  </form>
</body>

</html>
