<!DOCTYPE html>
<html>

<head>
  <title>My Chat Apps</title>
</head>

<body>
  <div>
    <form action="/login" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">
      <input type="submit" name="dir" value="Login">
    </form>
  </div>
</body>

</html>
