extends ./layout.jade

block content
  div
    form.col-sm-8(action="/login", method="post")
      div.form-group
        label(for="name") Name:
        input.form-control#name(type="text", name="name")
      input.btn.btn-primary(type="submit", value="Login")
