<!DOCTYPE html>
<html>
  <head>
    <title>迷路ゲーム</title>
  </head>
  <body>
    <% if (directions) { %>
      どの方向に進む？
      <form action="/maze" method="post">
      <input type="hidden" name="from" value="<%= currentId %>">
      <% if (directions.up) { %>
        <input type="submit" name="dir" value="up"><br />
      <% } %>
      <% if (directions.right) { %>
        <input type="submit" name="dir" value="right"><br />
      <% } %>
      <% if (directions.down) { %>
        <input type="submit" name="dir" value="down"><br />
      <% } %>
      <% if (directions.left) { %>
        <input type="submit" name="dir" value="left"><br />
      <% } %>
      </form>
    <% } else { %>
      ゴール！<br />
      <a href="/">トップページへ</a>
    <% } %>
  </body>
</html>
